body { 
  padding: 30px; 
}
.clearer{
  clear:both;
}

.country {
  fill: #ccc;
  stroke: transparent;
  stroke-width: 0px;
  cursor:pointer;
}
.country:hover{
  opacity:0.9;
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}
.marker {
  fill: #f6d622;
  opacity: 1; 
  stroke-width:1;
  stroke:#FFF;
}
.marker:hover {
  fill: #f6c342;
}

@media print
{    
  .no-print, .no-print *, .dynatable-per-page, .dynatable-search, .dynatable-pagination-links, .tooltip, .filters
  {
      display: none !important;
  }
  .country {
    fill:#f9f9f9 !important;
    stroke-width:1 !important;
    stroke: #BBB !important;
  }
  .marker {
    fill: #f6c38d;
    opacity: 1; 
    stroke-width:1;
    stroke:#898989;
  }
}
.filters{
  margin-left: 0;
  margin-right: 0;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 15px 0 15px;
  border-bottom: 0;

}
.filters .filters_label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #BBB;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#map {
  margin-left: 0;
  margin-right: 0;
  background-color: #FFF;
  border: 1px solid #DDD;
  box-shadow: none;
  position: relative;
  margin: 0 15px 0 15px;
}
#table{
  margin-left: 0;
  margin-right: 0;
  top: -1px;
  background-color: #FFF;
  border: 1px solid #DDD;
  box-shadow: none;
  position: relative;
  margin: 0 15px 0 15px;
}
.filter_element{
  list-style: none;
  margin: 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
  color:#AAA;
}
.filter_element .verb{
  line-height: 
}
.plus_minus {
  float: right;
}
.plus_minus .icon-sym{
  font-weight: 200;
  width: 25px;
  height: 25px;
  font-size:20px;
  line-height: 20px;
  border-radius:100%;
  border: 1px solid #AAA;
  color:#AAA;
  text-align: center;
  cursor:pointer;
}

.column_header{
  cursor:pointer;
}
.column_header:hover{
  text-decoration: underline;
}


.column_header.sort_asc{
  color:#08C;
}
.column_header.sort_desc{
  color:#08C;
}

.column_header.sort_asc:after{
  content: " ▲";
}
.column_header.sort_desc:after{
  content: " ▼";
}

.filter_element:first-child .and_filter{
  display: none;
}
.text{
  font-size: 11px;
  font-weight: 500;
  color: #BBB;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 12px;
}
.plus_minus .icon-sym:hover{
  border: 1px solid #08C;
  color:#08C;
}
#filters_new_criteria{
  list-style: none;
}
#filters_new_criteria a {
  padding-left: 20px;
}